.newcontent
  .newcontent--box
    = form_with(model: @post, local: true) do |form|
      %h3.newcontent--title
        新しいタグの登録をする
      = form.text_field :content, placeholder: "comment", class: "newcontent--content"
      = form.submit "SEND", class: "newpost-btn"