$main-background-color: #F8F8FF;
$main-color: #336699;

* {
  box-sizing: border-box;
  
  .content{
    background-color: $main-background-color;
    height: 100%;
    padding-top: 72px;

    .content-head{
      border-bottom: 1px solid #A9A9A9;

      &--wrapper{
        height: 60px;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        
        .content-category{
          display: flex;
          justify-content: left;
          font-size: 18px;
          
          .likes{
            display: flex;
            justify-content: left;
            
            &--like{
              float: left;
              background-color: #BAD3FF;
              height: 40px;
              width: 80px;
              text-align: center;
              margin-left: 2px;
              line-height: 40px;
              border-radius:3px;
            }
          }

          .tags{
            display: flex;
            justify-content: left;
            height: 40px;

            .link-text {
              margin-left: 10px;
              text-decoration: none;

              &--text{
                text-align: center;
                // background-color: #EEEEEE;
                // width: 0px;
                line-height: 40px;
                border-radius:3px;
              }
            }

            .text_line{
              font-size: 7px;
              line-height: 7px;
            }
          }
        }
        .search-form{

        .search-input{
          height: 40px;
          width: 200px;
          text-align: center;
        }
        
        .search-btn{
          height: 40px;
          width: 80px;
          border-radius:3px;
        }
        } 
      }

    }
    .content-main{
      max-width: 1000px;
      margin: 0 auto;

      &--wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        
        .posts-lists{
          display: flex;
          width: calc(100% - 260px);
          height: 100%;
          flex-wrap: wrap;

          .posts-list{
            // width: calc(100% / 3);
            &--box{
              // display: inline-block;
              // border: 1px solid #A9A9A9;
              display: flex;
              justify-content: space-around;
              border-radius: 8px;
              // background-color: white;
              margin-bottom: 20px;

              &__image{
                .post-ogp{
                  border-radius: 8px;
                  width: 320px;
                  height: 180px;
                  background-color: $main-background-color;
                }
                margin-right: 10px;
              }
              &__detail{
                .posts-list--box__title{
                  font-size: 16px;
                  width: 100%;
                  font-weight: bold;
                  
                  .title-link {
                    text-decoration: none;
                    color: black;
                  }
                  p{  
                    width: 100%;
                  }
                }
                .posts-list--box__trust{
                  display: flex;
                  justify-content: left;
                  .like_counts{
                    font-size: 14px;
                    margin-left: 3px;
                    text-align: center;
                  }
                }
                
                .posts-list--box__tag{
                  font-size: 12px;
                  background-color: burlywood;
                  display: inline-block;
                  padding: 1px 3px;
                  border-radius: 5px;
                  margin:0 3px 5px 2px;
                }

                .posts-list--box__likes{
                  color: white;
                  font-size: 12px;
                  background-color: #3366CC;
                  display: inline-block;
                  padding: 1px 6px;
                  border-radius: 5px;
                  margin:10px 3px 10px 2px;
                }
                .posts-list--box__comments{
                  font-weight: bold;
                  // border-top: 1px solid #A9A9A9;
                  background-color: #D9E5FF;
                  // border-bottom: 1px solid #A9A9A9;
                  border-radius: 4px;
                  padding: 0 0 8px 0;
                  height: 70px;
                  p{
                    font-size: 12px;
                    height: 30px;
                    line-height: 30px;
                    margin: 7px;
                  }
                  li.comment{
                    font-weight: lighter;
                    background-color: #BAD3FF;
                    padding: 4px 10px;
                    margin: 5px;
                    display: inline;
                    border-radius: 15px;
                    font-size: 14px;
                  }
                  .not_comment{
                    font-size: 14px;
                    padding-top: 5px;
                  }
                }
              }
            }
          }
        }
        .post-recommendlists{
          width: 240px;
          background-color: $main-background-color;
          height: 600px;
          border: 1px solid #BBBBBB;
          border-radius: 10px;
          .recommend-category-title{
            padding: 8px 0 5px 8px;
            // text-align: center;
            margin: 0 auto;
            width: 100%;
            height: 40px;
            // border-bottom: 0.5px solid #336699;
            font-weight: bold;
            font-size: 9px;
          }
          
          .post-recommendlist{
            display: flex;
            .post-recommendlist--main{
              height: 100%;
              padding-left: 5px;
              &__image{                
                .post-ogp{
                  width: 90px;
                  height: 60px;
                  border-radius: 8px;
                }
              }
            }
            .post-recommendlist--detail{
              &__title{
                margin-left: 5px;
                .title-link{  
                  font-size: 12px;
                  text-decoration: none;
                  color: black;
                }
              }
              &__tag{
                font-size: 10px;
                background-color: burlywood;
                display: inline-block;
                padding: 1px 3px;
                border-radius: 5px;
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
  }

  .newcontent{
    height: calc(100vh - 72px);
    background-color: $main-background-color;
    margin-top: 72px;
    .newcontent--box{
      // margin-top: 20px;
      padding-top: 20px;
      margin: 0 auto;
      width: 700px;
      height: 300px;
      background-color: white;
      text-align: center;
      .newcontent--title{
        font-size: 20px;
        margin-bottom: 40px;
      }
      .newcontent--content{
        margin: 0 auto;
        width: 80%;
        height: 40px;
        margin-bottom: 40px;
      }
      .newcontent--news_url{
        width: 80%;
        height: 40px;
        margin-bottom: 40px;
      }
      input[type="submit"] {
        background-color: $main-color;
        font-size: 15px;
        padding: 3px;
        border-radius: 5px;
        color: white;
        &:hover{
          background-color: lighten($main-color, 20%);
          cursor: pointer;
          position: fixed;
        }
      }
    }
  }

  .showcontent{
    height: 1000px;
    background-color: $main-background-color;
    margin-top: 72px;   
    text-align: center;
    padding-top: 30px;
    .wrapper{
      max-width: 1000px;
      margin: 0 auto;
      .content--detail{
        background-color: white;
        width: 460px;
        margin: 0 auto;
        padding-bottom: 20px;
        &__image{
          width: 100%;
          .post-ogp{
            width: 440px;
            height: 220px;
            border-radius: 8px;
          }
        }
        &__title{
          font-size: 25px;
          text-align: left;
          padding: 2px 20px 10px 20px;
          font-weight: bold;
        }

        &__createdat{
          text-align: left;
          padding-left: 20px;
        }
        .content--proceed{
          &__edit{
            text-align: left;
            font-size: 12px;
            padding-left: 20px;
            .edit-link{
              text-decoration: underline;
              color: black;
            }
          }
          &__destroy{
            text-align: left;
            font-size: 12px;
            padding-left: 20px;
            .destroy-link{
              text-decoration: underline;
              color: black;
            }
          }
        }
        .content--pagelink{
          height: 50px;
          border-radius: 10px;
          background-color: white;
          border: 1px solid blue;
          text-align: center;
          margin: 10px 10px 10px 10px;
          line-height: 50px;
          &__box{
            color: blue;
            text-decoration: none;
          }
        }
      }
      .content-commentbox{
        width: 460px;
        background-color: white;
        margin: 0 auto;
        margin-top: 40px;
        text-align: left;
        .content-comment--entry{
          height: 100px;
          // width: 100%;
          border-bottom: 2px solid $main-background-color;
          margin: 0 auto;
          // text-align: center;
          // align-items: center;
          line-height: 100px;
          padding-left: 30px;
          .newcontent--text{
            text-align: center;
            align-items: center;
            height: 40px;
            width: 300px;
            border-radius: 5px;
          }
          input[type="submit"]{
            display: inline;
            height: 40px;
            width: 80px;
            background-color:$main-color;
            border-radius: 5px;
            font-size: 12px;
            font-weight: bold;
            color: white;
          }
        }
        .content-comments--lists{
          h3{
            font-weight: bold;
            padding: 5px 0 10px 5px;
          }
          .content-comments--list{
            border-bottom: 2px solid $main-background-color;
            padding: 10px 20px 15px 20px;
            &__name{
              font-size: 14px;
              font-weight: bold;
              padding-bottom: 5px;

            }
            &__text{
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}